:root{
  --blue-color: #2579BE;
  --white-color:#ffffff;
  --yellow-color:#F0B429;
  --grey-color:#E2E8F0;
  --font-family: sans-serif;
  font-family:var(--font-family);
}

.container{
  display:grid;
  grid-template-columns:300px 1fr;
  grid-template-rows:200px 1fr;
  background-color:yellow;
  height:98vh;
}

.sidebar{
  background-color:var(--blue-color);
  color:var(--white-color);
  grid-column:1/span 1;
  grid-row:1/span 2;
  display:grid;
  grid-template-rows:10px 210px 200px 1fr 1fr 1fr;
  gap:80px;
  padding:30px;
  z-index:4;
}

.links1 .fa-solid, .links2 .fa-solid{
  margin-right:10px;
}

.logo-section{
  font-size:30px;
  font-weight:700;
}

.links1,.links2{
  font-weight:300;
  font-size:18px;
}

.links1>p:hover, .links2>p:hover{
  color:#002441;
  cursor:pointer;
  transition: 0.3s ease;
}

.header{
  background-color:var(--white-color);
  grid-column: 2/ span 1;
  grid-row:1/span 1;
  display:grid;
  grid-template-rows:1fr 1fr;
  box-shadow: 0px 2px 35px #DADADA;
  z-index:3;
}

.content{
  background-color:var(--grey-color);
}

.top-bar{
  grid-row:1/span 1;
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-template-rows:1fr;
  align-items:center;
  gap:50px;
  padding:10px 40px;
  justify-items:stretch;
  
}

.search-section{
  grid-column:1/span 1;
  min-width:300px;
  
}

.search-section>input{
  
  width:80%;
  min-width:0px;
  background-color:var(--grey-color);
  border:none;
  border-radius:40px;
  padding:10px;
  margin-left:15px;
  border:solid 2px white;
}

.search-section>input:hover{
  border:solid 2px var(--blue-color);
}

.account-management{
  justify-self:end;
  display:grid;
  grid-template-columns:1fr 4fr;
  align-items:center;
  gap:50px;
  
}

.account-name{
  display:grid;
  grid-template-columns:1fr 3fr;
  gap:20px;
  align-items:center;
  font-weight:700;
  
}
.fa-bell{
  font-size:20px;
}

.bottom-bar{
  display:grid;
  grid-template-columns:1.5fr 1fr;
  padding:10px 40px;
  grid-template-rows:1fr;
  align-items:center;
}

.welcome-section{
  display:grid;
  grid-template-columns:90px 1fr;
  align-items:center;
}

.welcome-message > div{
  font-weight:700;
}

.welcome-message > div:last-child{
  font-size:25px;
}

.buttons-section{
  grid-column:2 / 3;
  
  display:flex;
  justify-content:flex-end;
  gap:20px;
}

.buttons-section > button{
  background-color:var(--blue-color);
  padding:10px 20px;
  color:white;
  border:none;
  border-radius:35px;
  font-size:17px;
  font-weight:700;
  cursor:pointer;
  transition: 0.2s ease;
}
.buttons-section > button:hover{
  background-color:#125A94;
}


.content{
  display:grid;
  grid-template-columns:2.5fr 1fr;
  padding: 10px 20px;
  gap:30px;
}

.projects-section{
  grid-column:1 / span 1;
}

.cards-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.card{
  background-color:white;
  border-left:solid 6px var(--yellow-color);
  padding:10px 20px;
  border-radius:5px;
  box-shadow: 2px 2px 15px #DADADA;
  position:relative;
}

.card > p{
  margin-top:-15px;
  margin-bottom:25px;
  color:grey;
}

.card-icons{
  margin-left:auto;
  width:100px;
  margin-bottom:0px;
  position:absolute;
  bottom:6px;
  right:6px
}

.card-icons > span{
  margin-right:10px;
}

.announcements{
  background-color:white;
  padding:10px 20px;
  border-radius:5px;
  box-shadow: 2px 2px 15px #DADADA;
}

.announcements p{
  margin-top:-20px;
  font-size:13px;
  color:grey;
}

.announcements div{
  border-bottom:solid 1px #bbbbbb;
}

.announcements div:last-child{
  border-bottom:none;
}

.trending-box{
  background-color:white;
  padding:10px 20px;
  border-radius:5px;
  box-shadow: 2px 2px 15px #DADADA;
}


.other-user{
  display:grid;
  grid-template-columns:50px 1fr;
  justify-items:start;
  align-items:center;
  gap:10px;
}

.handle{
  margin-top
}

.other-user p:not(.handle){
  margin-top:-15px;
  font-weight:300;
  color:grey;
}